# environment:
  # matrix:
  # - JAVA_HOME: C:\Program Files\Java\jdk1.7.0 currently default in path

# install required tools (maven, secure-file, encrypted files)
install:
  - cmd: echo %JAVA_HOME%
  - cmd: echo %M2_HOME%

before_build:
  - cd client-idea
  - if not exist lib mkdir lib
  - cd lib
  - ECHO certutil.exe -urlcache -split -f "https://www.jetbrains.com/intellij-repository/releases/com/jetbrains/intellij/idea/ideaIC/%VERSION%/ideaIC-%VERSION%.zip" ideaIC-%VERSION%.zip
  - bitsadmin /transfer myDownloadJob /download /priority normal https://www.jetbrains.com/intellij-repository/releases/com/jetbrains/intellij/idea/ideaIC/%VERSION%/ideaIC-%VERSION%.zip ideaIC-%VERSION%.zip
  - jar xf ideaIC-%VERSION%.zip
  - cd ..
  - cd..

build_script:
  - mvn install -DskipTests

 # verify artifacts
test_script:
  - mvn verify

cache:
  - C:\maven\
  - C:\Users\appveyor\.m2
  - client-idea\lib
